/* write your override styles here */

div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}

div#tag-5 {
    background-color: maroon;
}

div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}div.tag-1 {
    background-color: turquoise;
    width:25%;
    margin: auto;
    padding:auto;
}